
<!-- <p id="notice"><%= notice %></p> -->

<h1>Library</h1>


<br>

<% @posts = Post.all.order('created_at DESC') %>
 <% @posts.each do |post| %>
        <% if post.user == current_user %>
        <div class="notecard">
        <h3 style="float:left"><%= post.title %></h3>
        <div class="edit-buttons">
          <%= link_to 'Show', post %> |         
          <%= link_to 'Edit', edit_post_path(post) %> |
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure you want to delete this post?' } %>
        </div>
        <div class="created-at"><%= "Posted " + time_ago_in_words(post.created_at) + " ago"%></div>
        <br>
        <span style="white-space: pre-wrap;"><%= post.body %></span>
        <br>

          <span style="display:none;">
              <%= words = post.body.split %>
              <%= frequencies = Hash.new(0) %>
              <%= words.each do |word| %>
                  <% frequencies[word.downcase] += 1 %>
              <% end %>
              <%= frequencies = frequencies.sort_by do |word,count| %>
                  <% count %>
              <% end %>
              <%= tally = frequencies.each do|word,count| %>
                  <%  puts word+ ("nothing here") + count.to_s %>
              <% end %>
              <%= a = tally.last(3).reverse.join(", ") %>
              <%= a.titleize %>
          </span>
      </div>
      <div class="post-cutter"> </div>
        <% end %>  
    <% end %>
<br>

<div class="new_post_button">
<%= link_to 'New Post', new_post_path, :class=>"btn btn-success", :role=>"button" %>
</div>


