<p id="notice"><%= notice %></p>


<div class="notecard">
	<h3><%= @post.title %></h3>
<p><%= simple_format(@post.body) %></p>
  


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

</div>