<!DOCTYPE html>
<html>
<head>
  <title>Toda</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Brand</div></a>
        <div class="account_btns">
          <ul>
          <% if user_signed_in? %>
          <li style="display:inline-block" class="navbar-left"><%= link_to 'Library', authenticated_root_path %></li><li style="display:inline-block" class="navbar-left"><%= link_to 'New Post', new_post_path %></li>
          <li style="display:inline-block" class="navbar-right"><%= link_to 'Logout', destroy_user_session_path, :method => :delete, :class => "btn btn-default", :role => "button"%></li>   
          <% else %>
          <li style="display:inline-block" class="navbar-right"><%= link_to 'Login', new_user_session_path, :class => "btn btn-default", :role => "button" %> </li>
          <li style="display:inline-block" class="navbar-right"><%= link_to "Sign Up", new_user_registration_path, :class => "btn btn-default", :role => "button" %></li>
          <% end %>
        </ul>
        </div>
      </div>
  </nav>

</div>

<div class="container">
    
    <%= yield %>

</div
</body>
</html>
